
@use "base" as *;

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    

    ul {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        transition: .8s;

        @include for-sm-screen{
            position: fixed;
            top: 0;
             left: -100%;
            &.active{
                left: 0;
                width: 100vw;
                height: 100vh;
                padding-top: 2rem;
                flex-direction: column;
                justify-content: flex-start;
                gap: 2rem;
                align-items: center;
                background-color: black;
                color: white;
            }
           

            
        }
    }
    
    .hamburger {
        display: none;
        @include for-sm-screen {
            display:  block;
        }

        .bar{
            display: block;
            width: 30px;
            height: 5px;
            margin: 5px auto;
            background-color: black;
            transition: .3s ease ;
        }
        
        &.active {
            .bar{
               background-color: white;

                &:nth-child(2){
                    opacity: 0;
                    }

                &:first-child{
                    // bar のheightとmargin足した分上に下げる
                    transform: translateY(10px) rotate(45deg);
                    color: blue;
                }
                &:last-child{
                    transform: translateY(-10px) rotate(-45deg);
                }

            }
           
        }


        }
}

   

